*{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
.header{
	min-height: 100vh;
	width: 100%;
	background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/mesh.jpg);
	background-position: center;
	background-size: cover;
	position: relative; 
}
nav{
	display: flex;
	padding: 2% 6%
	justify-content:space-between;
	align-items: center;
	
}
.nav-links{
	flex: 1;
	text-align: right;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding:8px 12px ;
	position:relative;
}
.nav-links ul li a{
	color:white;
	text-decoration: none;

}
.nav-links ul li::after{
	content: '';
	width:0%;
	height: 2px;
	background-color:#00FA9A;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.nav-links ul li: hover::after{
	width: 100%;
}
.text-box{
	width: 90%;
	color: white;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.text-box h1 {
	font-size: 44px
}
.text-box p{
	margin:10px 0 40px;
	font-size: 14px;
	color: white;
}

nav .fa{
	display: none;
}

@media(max-width: 700px){
	.text-box h1{
		font-size: 20px;
	}
	.nav-links ul li{
		display: block;
	}
	.nav-links{
		position: absolute;
		background: darkseagreen;
		height:100vh;
		width: 200px;
		top:0;
		right:-200px;
		text-align: left;
		z-index: 2;
		transition: 1s;
	}
	nav .fa{
		display: block;
		color: #fff;
		margin:10px;
		font-size: 22px;
		cursor: pointer;
	}
	.nav-links ul{
		padding: 30px;
	}
}

/*------about------*/
.problem{
	width: 80%
	margin: auto;
	text-align: center;
	padding-top:100px; 
}
h1{
	font-size: 36px;
	font-weight: 500;
}

p{
	color: darkgray;
	font-size:14px;
	font-weight: 400;
	line-height: 22px;
	padding: 10px

}
.row{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}
.problem-col{
	flex-basis: 31%;
	background:lavender ;
	border-radius:10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
}
h3{
	text-align: center;
	margin: 10px 0;
}

.problem-col:hover{
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
	.row{
		flex-direction: column;
	}
} 
/*--------solution-------*/

.solution{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 10px;
}


.container4 {
	align-items: center;
	display: flex;
	background-color: lightgray;
	justify-content: center;
}
.container3{
	align-items: center;
	display: flex;
	background-color: darkgray;
	justify-content: center;
}

.solution-col img{
	max-width: 100%;
}
.method-col img{
	max-width: 100%;
}

.container4 > div {
	flex-basis: 50%;
}
.container3 > div {
	flex-basis: 50%;
}
/*------call to action-----*/

.cta{
	margin: 100px auto;
	width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(images/city.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.hero-btn{
	display: inline-block;
	text-decoration: none;
	color: white;
	border: 1px solid white;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
	margin: 30px;
}
.hero-btn:hover{
	border: 1px solid tomato;
	background: tomato;
	transition: 1s;
}
/*-------footer-------*/
.footer{
	width: 100%;
	text-align: center;
	padding: 30px 0;
}
.footer h4{
	margin-bottom: 25px;
	margin-top: 25px;
	font-weight: 500;
}
.icons .fa{
	color: black;
	margin:0 13px;
	cursor: pointer;
	padding: 18px 0;
}
/*-----about us---*/
.sub-header{
	height: 50vh;
	width: 100%;
	background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/sky.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: tan;

}
.about-us{
	width: 80%;
	margin: auto;
	padding-top: 80px;
	padding-bottom: 50px;
}

.about-col{
	flex-basis: 48%;
	padding: 30px 2px;
}
.about-col img{
	width: 100%;
}
.about-col h1{
	padding-top: 0;

}
.about-col p{
	padding: 15px 0 25px;

}
.lop {
	height: 100vh;
	width: 100%;
	background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/mesh.jpg);
	background-position: center;
	background-size: cover;

}
.center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -10%); 
	width: 400px;
	background: white;
	border-radius: 10px;
}
.log-header{
	height: 25vh;
	width: 100%;
	background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/blue.jpg);
	background-position: center;
	background-size: cover;
}
.center h1{
	text-align: center;
	padding: 10px 0 20px 0;
	border-bottom: 1px solid silver;

}
.center form{
	padding: 0 40px;
	box-sizing: border-box;
}
form .txt_field{
	position: relative;
	border-bottom: 2px solid #adadad;
	margin: 30px 0;
}
.txt_field input{
	width: 100%;
	padding: 0 5px;
	height: 40px;
	font-size: 16px;
	border: none;
	outline: none;
}
.txt_field label{
	position: absolute;
	top: 50%;
	left: 5px;
	color: #adadad;
	transform: translateY(-50%);
	font-size: 16px;
	pointer-events: none;
	transition: .5s;
}
.txt_field span::before{
	content: '';
	position: absolute;
	top: 40px;
	left: 0;
	width: 0%;
	height: 2px;
	background: mediumaquamarine;
	transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
	top: -5px;
	color: mediumaquamarine;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
	width: 100%;

}
.pass{
	margin: 20px 0 ;
	color: darkgray;
	cursor: pointer;
}
.pass:hover{
	text-decoration: underline;
}
input[type="submit"]{
	width: 100%;
	height: 50px;
	border: 1px solid;
	background: mediumaquamarine;
	border-radius: 25px;
	font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;

}
input[type="submit"]:hover{
	border-color: mediumaquamarine;
	transition: .5s;
}
.signup_link{
	margin: 30px 0;
	text-align: center;
	font-size: 16px;
	color: cadetblue;

}
.signup_link a{
	color: mediumaquamarine;
	text-decoration: none;
}
.signup_link a:hover{
	text-decoration: underline;
}

.contact-header{
	height: 50vh;
	width: 100%;
	background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30)),url(images/sunset3.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: lightsalmon;
}
/*-------contact us-----*/
.location{
	width: 80%;
	margin: auto;
	padding: 80px 0;
}
.location iframe{
	width: 100%;
}
/*-----signup---*/
.signup-box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -20%); 
	width: 400px;
	background: white;
	border-radius: 10px;
	height: 550px;


}



.signup-box form{
	padding: 0 40px;
	box-sizing: border-box;
}
.login_link{
	margin: 30px 0;
	text-align: center;
	font-size: 16px;
	color: cadetblue;

}
.login_link a{
	color: mediumaquamarine;
	text-decoration: none;
}
.login_link a:hover{
	text-decoration: underline;
}
.signup-box h1{
	text-align: center;
	padding: 10px 0 20px 0;
	border-bottom: 1px solid silver;

}
/***-----mthod------**/
.donate-btn{
	display: inline-block;
	text-decoration: none;
	color: white;
	border: 1px solid white;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
	margin: 30px;
}
.donate-btn:hover{
	border: 1px solid khaki;
	background: khaki;
	transition: 1s;
}
/*-----wallet-----*/
.wall-header{
	height: 50vh;
	width: 100%;
	background-image:linear-gradient(rgba(4,9,30,0.4),rgba(4,0,30,0.2)),url(images/trees.webp);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: tan;

}
.royal {
	height: 60vh;
	width: 100%;
	background: white;
	background-position: center;
	background-size: cover;

}
.balance {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -10%); 
	width: 400px;
	background: mediumaquamarine;
	border-radius: 10px;
	margin: 30px 0;
}
.balance h2{
	text-align: center;
	padding: 10px 0 20px 0;
	border-bottom: 1px solid white;

}
/**-----rwallet--------*/
.donation-history{
	margin-left: auto;
	margin-right: auto;
	color: coral;
	text-align: center;
}
.content-table{
	margin-left: auto;
	margin-right: auto;
	min-width: 900px;
	text-align: center;
}
.content-table thead tr{
	background-color: antiquewhite;
	color: black;
	text-align: center;
}
.content-table th,
.content-table td {
	padding: 12px 15px;]
	background-color: cornsilk;
}
.log-btn{
	display: inline-block;
	text-decoration: none;
	color: black;
	border: 1px solid black;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position:relative;
	cursor: pointer;
	margin: 30px;
	align-items: center;
}
.log-btn:hover{
	border: 1px solid tomato;
	background: tomato;
	transition: 1s;
	color: white;
}
.content-table tbody{
	background-color: floralwhite;
}
.container {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 20px 0 ;
}
.container > div {
	flex-basis: 50%;
}
